*{
    font-family: 'Montserrat', sans-serif;
}


 
.inicial-screen{
    background-image:url("images/home1.jpg");
    background-position: center; /* Center the image */
    background-size: cover;
    padding: 3rem 8rem 10rem 8rem;
}

.whatsapp-link{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color:#1FD200;
    color: white;
    border-radius: 40px;
    text-align: center;
    font-size: 40px;
    z-index: 1000;    
 }
 



  #logo-safari{
    width: 10rem;
    padding-bottom: 1rem;
  }

  #text-initial{
    align-items: center;
    margin-top: 3rem;
  }


  #title{
    color: white;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  #btn-Initial-Screen{
    background-color: #F7E827;
    font-weight: 700;
    font-size: 1.5rem;
    width: 15rem;
    border-radius: 25px;
    color: black;
  }

  #btn-Initial-Screen a {
    color: black;
  }

  .our-services{
    background-color: black;
  }

  #title2{
    padding: 4rem 0 0 0;
    text-align: center;
    font-weight: 700;
    color: white;
  }

  .card{
    border-radius: 25px;
  }
  #cardSafari{
    background-color: #F7E827;
    padding: 2rem;
  }

.card-body{
    text-align: center;
}


.card-img-top{
    width: 7rem;
    margin: auto;
}
.card-title{
    font-size: 1.4rem;
    font-weight: 800;
}

.card-text{
    margin-top: 1.2rem;
    font-size: 0.9rem;
    font-weight: 600;
}

.rowCards{
    padding-bottom: 3rem;
}

.our-clients{
    background-color: #F7E827;
    padding: 4rem;
}

#title3{
    padding: 2rem 0rem 0rem 1rem; 
    text-align: center;
    font-weight: 700;
    color: black;
}


#clients-description{
    text-align: center;
    padding-bottom: 2rem;
}

.contact{
    background-image: url("images/home2.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    padding: 3rem;
}



#form-contact{
    color: white;
}

.form-control{
    background-color:rgba(0,0,0,0);
    color: white;

}

.form-control:focus{
    background-color:rgba(0,0,0,0);
    color: white;
}

#btn-form{
    margin-top: 2rem;
    background-color: #F7E827;
    font-weight: 700;
    font-size: 1rem;
    width: 8rem;
    border-radius: 25px;
    color: black;
  }

  ul {
    list-style: none;
    color: white;
    font-size: 1.5rem;
  }

  a{
    text-decoration: none;
    color: white;
  }


  #socialIcons{
    font-size: 1rem;
    color: black;
  }

  #icon{
    background-color: #F7E827;
    border: solid 0.5rem #F7E827;
    border-radius: 70px;
    padding: 0rem 0.2rem 0rem 0.2rem;
    color: black;
  }

  footer{
    background-color: black;
    color: white;
    padding: 2rem;
  }

  #places{
    font-size: 1rem;
    text-align: left;
  }

  #rowFooter{
    align-items: center;
  }

  #socialmedia{
    align-items: center;
  }

  .icons-clients{
    display: flex;
    gap: 4rem;
    justify-content: center;
  }

  .icon-grid{
    display: grid;
    font-size: 1.5rem;
    color: #000000;
    align-content: stretch;
    align-items: stretch;
    justify-items: center;
    font-weight: 700;
    gap: 0.4;
  }

  .icon-grid i {
   font-size: 3rem;
  }

  #gymIcon{
    width: 5rem;
    color: #000000;
  }

  #form{
    justify-content: center;
  }

  @media (max-width: 767px) {
    #title{
        color: white;
        font-size: 2.4rem;
        line-height: 3.5rem;
        font-weight: 600;
      }

    #text-initial{
        padding: 1.5rem;
        justify-content: center;
        display: grid;
    }

    #navbarSafariTech{
        display:flex;
        justify-content:center;
        align-items:center;
        gap: 2rem;
    }

    .navbar-brand{
        width: 9rem;
        margin: 0;
        padding: 0;
    }

    #navbarContainer{
        margin: 0;
        padding: 0;
    }

    footer{
        padding: 2rem;
    }

    .rowCards{
        gap: 3rem;
    }

    .our-clients{
        padding: 2rem;
    }
    #rowFooter{
        gap: 2rem;
    }

    footer #logo-safari{
        width: 10rem;
    }
    #places{
        display: grid;
        gap: 0.5rem;
        font-size: 1rem;
        padding: 0;
    }

    #socialIcons{
        display: flex;
        gap:  1rem;
    }

    #socialmedia{
        font-size: 1.5rem;
    }

    #icon{
        font-size: 2rem;
    }

    .icons-clients{
      display: grid;
    }
  }