@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}


*{
    font-family: 'Montserrat', sans-serif;
}

a { 
  color: inherit;
  text-decoration: none; 
}

a:hover { 
  color: inherit;
  text-decoration: none; 
}


 
.inicial-screen{
    background-image:url("images/Wallpaper_Stations_Modulos_Safari.jpg");
    background-position: center; /* Center the image */
    background-size: cover;
    padding: 3rem 8rem 10rem 8rem;
}

.whatsapp-link{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color:#1FD200;
    color: white;
    border-radius: 40px;
    text-align: center;
    font-size: 40px;
    z-index: 1000;    
 }
 



  #logo-safari{
    width: 10rem;
    padding-bottom: 1rem;
  }

  #text-initial{
    align-items: center;
    margin-top: 3rem;
  }


  #title{
    color: white;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  #btn-Initial-Screen{
    background-color: #F7E827;
    font-weight: 700;
    font-size: 1.5rem;
    width: 15rem;
    border-radius: 25px;
    color: black;
  }

  #btn-Initial-Screen:hover{
    background-color:transparent;
    border: #F7E827 1px solid;
    color: white;
  }

  .our-services{
    background-color: black;
    padding-bottom: 5rem;
  }

  #title2{
    padding: 4rem 2rem;
    text-align: center;
    font-weight: 700;
    color: white;
  }

  .card{
    border-radius: 25px;
  }
  #cardSafari{
    background-color: #F7E827;
    padding: 3rem 0 3rem 0;
    width: 17rem;
    border: white 1px solid;
    transition: 0.2s ease
   
    
  }

  #cardSafari:hover{
    background-color: #ffffff;
    border: #F7E827 1px solid;
    
  }

  #cardSafari:hover .card-img-top {
    width: 7rem;
    transition: 0.5s;
    animation: shake 0.5s;
    
  }


.card-body{
    text-align: center;
}


.card-img-top{
    width: 4rem;
    margin: auto;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 800;
}

.card-text{
    margin-top: 1.2rem;
    font-size: 0.9rem;
    font-weight: 600;
}

.rowCards{
    padding-bottom: 2rem;
    justify-content: center;
    gap: 2rem;
}

.our-clients{
    background-color: #F7E827;
}

#title3{
    padding: 4rem 0rem 0rem 1rem; 
    text-align: center;
    font-weight: 700;
    color: black;
}


#clients-description{
    text-align: center;
    padding-bottom: 2rem;
}

.contact{
    background-image: url("images/home2.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    padding: 3rem;
}



#form-contact{
    color: white;
}

.form-control{
    background-color:rgba(0,0,0,0);
    color: white;

}

.form-control:focus{
    background-color:rgba(0,0,0,0);
    color: white;
}

#btn-form{
    margin-top: 2rem;
    background-color: #F7E827;
    font-weight: 700;
    font-size: 1rem;
    width: 8rem;
    border-radius: 25px;
    color: black;
  }

  #btn-form:hover{
    background-color:transparent;
    border: #F7E827 1px solid;
    color: white;
  }

  ul {
    list-style: none;
    color: white;
    font-size: 1.5rem;
  }


  #socialIcons{
    font-size: 1rem;
    color: black;
  }

  #icon{
    background-color: #F7E827;
    border: solid 0.5rem #F7E827;
    border-radius: 70px;
    padding: 0rem 0.2rem 0rem 0.2rem;
    color: black;
  }

  footer{
    background-color: black;
    color: white;
    padding: 2rem;
  }

  #places{
    font-size: 1rem;
    text-align: left;
  }

  #rowFooter{
    align-items: center;
    justify-content: center;
    gap: 18rem;
  }

  

  #socialmedia{
    align-items: center;
  }

  .icons-clients{
    display: flex;
    gap: 4rem;
    justify-content: center;
  }

  .icon-grid{
    display: grid;
    font-size: 1.5rem;
    color: #000000;
    align-content: stretch;
    align-items: stretch;
    justify-items: center;
    font-weight: 700;
    gap: 0.4;
  }

  .icon-grid i {
   font-size: 3rem;
  }

  #gymIcon{
    width: 5rem;
    color: #000000;
  }

  #form{
    justify-content: center;
  }

  
  .swiper {
    height: 10rem;
    margin: 60px;
  }

  

  .swiper-wrapper{
    transition-timing-function : linear !important;
  }
  
  .swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px 150px;
  }

  .swiper-slide:hover {
    transition: 0.5s;
    animation: shake 0.5s;
  }



  #segmentos{
    padding-bottom: 4rem;
  }
  
  .whatsapp-link:hover{
    width: 70px;
    height: 70px;
    bottom: 40px;
    right: 40px;
    color: white;
    border-radius: 80px;
    font-size: 50px;
    transition: 0.2s ease-in;
    
  }

  .nav-link:hover{
    color:#F7E827;
  }

  #places li a:hover{
    color:#F7E827;
  }

  #logo-safari:hover{
    width: 10.5rem;
    transition: 0.2s ease-in;
  }

  #infosNavBar{
    padding-left: 1rem;
  }

.navbar-toggler-icon
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


#thanks-screen{
  align-items: center;
  background-image:url("images/Wallpaper_Stations_Modulos_Safari.jpg");
  background-position: center; /* Center the image */
  background-size: cover;
  height: 85vh;
  padding: 3rem 8rem 10rem 8rem;
}

#thanks-initial{
  text-align: center;
  padding-top: 3rem;
}

#titleThanks {
  padding-top: 4rem;
  font-size: 4rem;
  animation: moving 1s, opacity 3s;
  color: #F7E827;
  font-weight: 700;
}

#descriptionThanksPage{
  color: white;
  animation: opacity 4s;
  font-size: 2rem;
}


@keyframes moving {
  from {transform: translateY(100px);}
  to {transform: translateY(0px);}
}

@keyframes opacity { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


  @media (max-width: 767px) {

    #titleThanks {
      text-align: center;
      padding-top: 3rem;
      font-size: 3rem;
      animation: moving 1s, opacity 3s;
      color: #F7E827;
      font-weight: 700;
    }

    #title{
      padding-top: 2rem;
      color: white;
      font-size: 2.4rem;
      line-height: 3.5rem;
      font-weight: 600;
    }

  #text-initial{
      padding: 1.5rem;
      justify-content: center;
      display: grid;
  } 
    #descriptionThanksPage{
      font-size: 2rem;
      text-align: center;
      color: white;
      animation: opacity 4s;
      font-size: 1.5rem;
    }

    #thanks-initial{
      padding-top: 5rem;
      align-items: center;
      display: grid;
      justify-content: center;
    }

    #navbarSafariTech{
        display:flex;
        justify-content: space-between;
        align-items:center;
        gap: 3rem;
    }

    .navbar{
      position: fixed;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 1) 100%);
      right: 0;
      left: 0;   
      border-radius: 0;
      z-index: 1000;
      top: 0;
    }

    .nav-link{
      font-size: 1rem;
    }

    .navbar-toggler{
      color: white !important;
      border: none !important;
      font-size: 2rem;
    }

    .navbar-toggler:focus{
      border: none;
      box-shadow: none;
    }

    .navbar-brand{
        width: 14rem;
        margin: 0;
        padding: 0;
    }

    #navbarContainer{
        justify-content: center;
        padding-top: 1rem;
    }

    footer{
        padding: 2rem;
        justify-content: center;
    }

    .rowCards{
        gap: 3rem;
    }

    #rowFooter{
        gap: 2rem;
    }

    footer #logo-safari{
        width: 10rem;
    }
    #places{
        display: grid;
        gap: 0.5rem;
        font-size: 1rem;
        padding: 0;
    }

    #socialIcons{
        display: flex;
        gap:  1rem;
    }

    #socialmedia{
        font-size: 1.5rem;
    }

    #icon{
        font-size: 2rem;
    }

    .icons-clients{
      display: grid;
    }

    .swiper-slide {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .swiper {
      height: 25vh;
      margin: 0;
    }


    #clients-description {
      padding-bottom: 0rem;
  }

    
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .rowCards {
      gap: 2rem;
    }

    #rowFooter{
      gap: 1rem;
    }
  }